name: Update
on:
  schedule:
    - cron: "30 01 * * *"
  push:
    branches: [main, "simple", "aws"]
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#defaultsrun
defaults:
  run:
    shell: bash --noprofile --norc -exo pipefail {0}
env:
  REPO: aarnphm/editor
  GIT_AUTHOR_NAME: github-actions[bot]
  GIT_AUTHOR_EMAIL: github-actions[bot]@users.noreply.github.com
jobs:
  update-lockfile:
    if: github.repository_owner == 'aarnphm'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install jq, curl
        run: sudo apt-get install -y jq curl
      - uses: andstor/file-existence-action@v2
        id: check_lockfile
        with:
          files: "lazy-lock.json"
      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
      - name: Run lockfile-autoupdate
        if: steps.check_lockfile.outputs.files_exists == 'true'
        timeout-minutes: 5
        run: |
          mkdir -p "${HOME}/.config/nvim"

          # copy default user config for this jobs only
          cp "${GITHUB_WORKSPACE}/init.lua" "${HOME}/.config/nvim/init.lua"
          # setup directory of the config
          cp -r "${GITHUB_WORKSPACE}/colors" "${HOME}/.config/nvim/colors"
          cp -r "${GITHUB_WORKSPACE}/lua" "${HOME}/.config/nvim/lua"

          # Run update
          nvim --headless "+Lazy! update" +qa
          cp -pv "${HOME}/.config/nvim/lazy-lock.json" .
      - name: Get infos
        id: meta
        run: |
          echo "sha=$(curl -SsL "https://api.github.com/repos/${{ env.REPO }}/commits/main" | jq -r ".sha")" >> $GITHUB_OUTPUT
      - uses: stefanzweifel/git-auto-commit-action@v4
        if: steps.check_lockfile.outputs.files_exists == 'true'
        with:
          commit_message: "chore(lockfile): auto update lazy-lock.json [${{ steps.meta.outputs.sha
            }}]"
          commit_user_name: ${{ env.GIT_AUTHOR_NAME }}
          commit_user_email: ${{ env.GIT_AUTHOR_EMAIL }}
          commit_author: ${{ env.GIT_AUTHOR_NAME }} <${{ env.GIT_AUTHOR_EMAIL }}>
          file_pattern: "lazy-lock.json"
          commit_options: "--signoff"
