name: Update
on:
  schedule:
    - cron: "30 01 * * *"
  push:
    branches: [main]
  pull_request:
    branches: [main]

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#defaultsrun
defaults:
  run:
    shell: bash --noprofile --norc -exo pipefail {0}

env:
  GIT_AUTHOR_NAME: github-actions[bot]
  GIT_AUTHOR_EMAIL: github-actions[bot]@users.noreply.github.com

jobs:
  update-lockfile:
    if: github.repository_owner == 'aarnphm'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install jq, curl and tree
        run: sudo apt-get install -y jq curl tree
      - uses: andstor/file-existence-action@v2
        id: check_lockfile
        with:
          files: "lazy-lock.json"
      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
      - name: Run lockfile-autoupdate
        if: steps.check_lockfile.outputs.files_exists == 'true'
        timeout-minutes: 5
        run: |
          mkdir -p "${HOME}/.config/nvim"

          cp -r "${GITHUB_WORKSPACE}/lua" "${HOME}/.config/nvim/lua"
          cp -r "${GITHUB_WORKSPACE}/after" "${HOME}/.config/nvim/after"
          cp -r "${GITHUB_WORKSPACE}/syntax" "${HOME}/.config/nvim/syntax"
          cp -r "${GITHUB_WORKSPACE}/custom-snippets" "${HOME}/.config/nvim/custom-snippets"
          cp -r "${GITHUB_WORKSPACE}/init.lua" "${HOME}/.config/nvim/init.lua"

          tree $HOME/.config/nvim


          nvim --headless "+Lazy! update" +qa
          cp -pv "${HOME}/.config/nvim/lazy-lock.json" .
      - name: Get infos
        id: meta
        run: |
          REPO="aarnphm/editor"
          COMMIT_INFO="$(curl "https://api.github.com/repos/$REPO/commits/main")"
          SHA="$(echo $COMMIT_INFO | jq -r ".sha")"
          echo"sha=$SHA" >> $GITHUB_OUTPUT
      - uses: stefanzweifel/git-auto-commit-action@v4
        if: steps.check_lockfile.outputs.files_exists == 'true'
        with:
          commit_message: "chore(lockfile): auto update lazy-lock.json [${{ steps.meta.outputs.sha }}]"
          commit_user_name: ${{ env.GIT_AUTHOR_NAME }}
          commit_user_email: ${{ env.GIT_AUTHOR_EMAIL }}
          commit_author: ${{ env.GIT_AUTHOR_NAME }} <${{ env.GIT_AUTHOR_EMAIL }}>
          file_pattern: "lazy-lock.json"
          commit_options: "--signoff"
